* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

body {
  background-color: rgba(237, 166, 240, 0.345); }

body nav {
  width: 100%;
  height: auto;
  box-shadow: 10px 10px 50px;
  background-color: rgba(192, 168, 168, 0.7); }
  body nav ul li .nav-link {
    font-size: 17px;
    margin: 5px;
    color: #41005d;
    background-color: #c0a8a8; }
  body nav .logo {
    width: 10%; }

body {
  /* background: #eda6f058; */
  /* background: linear-gradient(to left, #eaafc8, #654ea3); */ }
  body section #scrollspyHeading1 {
    width: 100%;
    height: 100vh;
    align-items: center; }
  body section #scrollspyHeading2 {
    padding: 80px;
    height: 100vh;
    align-items: center; }
  body section #scrollspyHeading3 {
    padding: 80px;
    height: 100vh;
    align-items: center; }
  body section #scrollspyHeading4 {
    padding: 80px;
    height: 100vh;
    align-items: center; }

@-webkit-keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0); }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg); }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg); } }

@keyframes flip-scale-down-ver {
  0% {
    -webkit-transform: scale(1) rotateY(0);
    transform: scale(1) rotateY(0); }
  50% {
    -webkit-transform: scale(0.4) rotateY(-90deg);
    transform: scale(0.4) rotateY(-90deg); }
  100% {
    -webkit-transform: scale(1) rotateY(-180deg);
    transform: scale(1) rotateY(-180deg); } }

body section #scrollspyHeading2 .clases {
  background-color: rgba(0, 0, 0, 0);
  width: auto;
  height: 100%;
  border-radius: 5px; }
  body section #scrollspyHeading2 .clases .cards {
    height: 50%; }
    body section #scrollspyHeading2 .clases .cards .col {
      min-height: 100%;
      padding: 10px; }
    body section #scrollspyHeading2 .clases .cards .text-area {
      height: auto;
      background-color: rgba(254, 254, 254, 0.445);
      padding: 10px;
      box-shadow: 10px 10px 50px; }
      body section #scrollspyHeading2 .clases .cards .text-area .card-title {
        font-size: 25px;
        margin: 0px; }
      body section #scrollspyHeading2 .clases .cards .text-area .card-text {
        font-size: 18px;
        display: none; }
    body section #scrollspyHeading2 .clases .cards .Reiki {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../assets/img/4.jpg); }
    body section #scrollspyHeading2 .clases .cards .FengShui {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../assets/img/3.jpg); }
    body section #scrollspyHeading2 .clases .cards .BarrasAccess {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../assets/img/2.jpg); }
    body section #scrollspyHeading2 .clases .cards .CalendarioMaya {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../assets/img/1.jpg); }
    body section #scrollspyHeading2 .clases .cards .Tarot {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../assets/img/4.jpg); }
    body section #scrollspyHeading2 .clases .cards .Gemoterapia {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../assets/img/3.jpg); }
    body section #scrollspyHeading2 .clases .cards .FloresBach {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../assets/img/2.jpg); }
    body section #scrollspyHeading2 .clases .cards .ReikiUsui {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../assets/img/1.jpg); }
  body section #scrollspyHeading2 .clases .card:hover {
    -webkit-animation: flip-scale-down-ver 0.5s linear both;
    animation: flip-scale-down-ver 0.5s linear both; }
    body section #scrollspyHeading2 .clases .card:hover .card-body {
      box-shadow: 10px 10px 50px;
      display: flex;
      justify-content: center;
      align-items: center; }
      body section #scrollspyHeading2 .clases .card:hover .card-body .text-area {
        transform: rotateY(180deg);
        height: 100%; }
        body section #scrollspyHeading2 .clases .card:hover .card-body .text-area .card-text {
          display: inline-block; }

body section article .carousel img {
  height: 100vh; }

@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; } }

@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%; } }

body section #scrollspyHeading3 .quienSoy {
  background-image: url(../assets/img/6.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: end;
  align-items: end;
  width: auto;
  height: 100%;
  border-radius: 10px; }
  body section #scrollspyHeading3 .quienSoy .body-quiensoy {
    padding: 50px;
    margin: 30px;
    width: 50%;
    height: auto;
    box-shadow: 10px 10px 50px;
    /*display: flex; */
    text-align: start;
    background-color: rgba(192, 168, 168, 0.7); }

body section #scrollspyHeading3 .quienSoy:hover .body-quiensoy {
  -webkit-animation: scale-up-hor-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-right 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

/* Formulario Contacto */
@-webkit-keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; } }

@keyframes scale-up-hor-left {
  0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; } }

body section #scrollspyHeading4 div {
  background-image: url(../assets/img/4.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: start; }
  body section #scrollspyHeading4 div .formulario-body {
    background-color: rgba(192, 168, 168, 0.7);
    padding: 80px;
    margin: 20px;
    border-radius: 8px;
    width: 50%;
    font-family: Calibri, "Trebuchet MS", sans-serif;
    color: white;
    box-shadow: 10px 10px 50px #080808; }
    body section #scrollspyHeading4 div .formulario-body .formulario-contacto {
      width: 100%;
      background-color: #24303c;
      padding: 15px;
      border-radius: none;
      /* font-family: Calibri, "Trebuchet MS", sans-serif; */
      font-size: 15px;
      color: white; }
    body section #scrollspyHeading4 div .formulario-body .boton {
      background-color: #94347c;
      border: none;
      padding: 12px;
      color: white;
      margin: 16px 0;
      font-size: 16px;
      box-shadow: 10px 10px 50px #080808; }
    body section #scrollspyHeading4 div .formulario-body .boton:hover {
      background-color: #33122b; }

body section #scrollspyHeading4 div:hover .formulario-body {
  -webkit-animation: scale-up-hor-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-hor-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both; }

footer {
  background-color: #000000;
  padding: 20px; }
  footer .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .footer-container .social-media-icons {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex; }
      footer .footer-container .social-media-icons li {
        margin-right: 10px; }
      footer .footer-container .social-media-icons img {
        width: 30px;
        height: 30px; }
    footer .footer-container .copyright {
      font-size: 14px;
      color: #777; }
