/* Formulario Contacto */
@keyframes scale-up-hor-left {
    0% {
    -webkit-transform: scaleX(0.4);
    transform: scaleX(0.4);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    }
    100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    }
}
body{
    section{
        #scrollspyHeading4{
            .contact{
            background-image:url(../assets/img/4.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 90vh;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: start;
                &-form{
                    background-color: rgba(192, 168, 168, 0.7);
                    padding: 80px;
                    margin: 20px;
                    border-radius: 8px;
                    width: 50%;
                    font-family: Calibri, "Trebuchet MS", sans-serif;
                    color: white;
                    box-shadow: 10px 10px 50px rgb(8, 8, 8);
                    &-name,&-email,&-tel{
                        width: 100%;
                        background-color: #24303c;
                        padding: 15px;
                        border-radius: none;
                        /* font-family: Calibri, "Trebuchet MS", sans-serif; */
                        font-size: 15px;
                        color: white;
                    }
                    .boton {
                        background-color: #94347c;
                        border: none;
                        padding: 12px;
                        color: white;
                        margin: 16px 0;
                        font-size: 16px;
                        box-shadow: 10px 10px 50px rgb(8, 8, 8);
                    }
                    .boton:hover {
                        background-color: #33122b;
                    }
                }
                &-title{
                    padding-top: 50px;
                    width: 50%;
                    height: 100%;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    font-size: 30px;
                    h5{
                        font-size: 40px;
                    }
                }
            }
        }
    }
}
