body{
    .navbar{
        width: 100%;
    }
    nav{
        box-shadow: 10px 10px 50px;
        background-color: rgba(192, 168, 168, 0.7);
        ul{
            li{
                .nav-link{
                    font-size: 17px;
                    margin: 5px;
                    color: rgb(65, 0, 93);
                    background-color:rgb(192, 168, 168);
                }
            }
        }
        .logo{
            width: 10rem;
        }
    }
}
