@-webkit-keyframes scale-up-hor-right {
    0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    }
    100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    }
}
@keyframes scale-up-hor-right {
    0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    }
    100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
    }
}
body{
    section{
        #scrollspyHeading3{
            .quienSoy{
                background-image:url(../assets/img/6.JPG);
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: end;
                align-items: end;
                width: auto;
                height: 100%;
                border-radius: 10px;
                .body-quiensoy{
                    padding: 50px;
                    margin: 30px;
                    width: 50%;
                    height: auto;
                    box-shadow: 10px 10px 50px;
                     /*display: flex; */
                    text-align: start;
                    background-color: rgba(192, 168, 168, 0.7);
                }
            }
            .quienSoy:hover{
                .body-quiensoy{
                    -webkit-animation: scale-up-hor-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                    animation: scale-up-hor-right 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
                }
            }
        }
    }
}
