body{
    /* background: #eda6f058; */ 
    /* background: linear-gradient(to left, #eaafc8, #654ea3); */
    section{
        #scrollspyHeading1{
            width: 100%;
            height: 100vh;
            border-bottom: rgb(59, 59, 59) solid 1px;
        }
        #scrollspyHeading2{
            padding: 80px;
            height: 100vh;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            place-items: center;
            border-bottom: rgb(59, 59, 59) solid 1px;
        }
        #scrollspyHeading3{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100vh;
            border-bottom: rgb(59, 59, 59) solid 1px;
            padding: 80px;
        }
        #scrollspyHeading4{
            padding: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: auto;
        }
    }
}