*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.logo{
    width: 12rem;
}
body{
    background: #654ea3; 
    background: linear-gradient(to left, #eaafc8, #654ea3); 
}
.navbar{
    box-shadow: 10px 10px 50px;
    background-color: rgba(192, 168, 168, 0.705);
}