*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
.logo{
    width: 12rem;
}
body{
    background: #654ea3; 
    background: linear-gradient(to left, #eaafc8, #654ea3); 
}
